// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr{
  max-width:100%;
}
td {
  border-color: #999;
  border-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  word-wrap:break-word;
}
table {
  table-layout:fixed;
  width: 100%;
}
.solid {
  border-style: solid;
}

.event {
  background-color: #ffcc33;
  border-style: solid;
}

.add_event {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 500px;
}

.choose{
  cursor: pointer;
}


.selected {
  background-color: #1EAEDB;
}